
  <main>
    <div class="position-relative">
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-primary">
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-10 text-center" id="slogan">
            <h1 class="text-white display-1">Find a volunteer for your project!</h1>
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <div class="form-group ml-4 mr-4">
                    <%= form_tag card_volunteers_path, remote: true, method: 'get' do %>
                      <div class="input-group mb-4">
                        <%= text_field_tag :query, params[:query], class: "form-control", id:"rounded-form",placeholder: "Search a Volunteer (eg: skills, professions, locations)" %>
            
                        <button class="btn btn-yellow" id="search_button" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid" id="search">
              <%= render partial: 'card' %>
            </div>
            <% if @volunteers == [] %>
              <h2>No Result is Found</h2>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row justify-content-center" id="load-more">
        <%= link_to 'Click To Load More', volunteers_path(:page => @volunteers.next_page), class: "btn btn-outline-primary btn-xl mt-5", :remote => true %>
      </div>

    </section>

  </main>
