
<%= simple_form_for(:user,id: 'signin', url: session_path(:user)) do |f| %>
  <div class="form-group mb-3">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-circle-08"></i></span>
      </div>
      <%=  f.text_field :login, class: "form-control", placeholder: "Email OR Username" %>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group input-group-alternative">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
      </div>
      <%= f.password_field :password, class: "form-control", placeholder: "Password"  %>
    </div>
  </div>
  <!-- remember me Done -->
  <div class="custom-control custom-control-alternative custom-checkbox">
    <input name="user[remember_me]" type="hidden" value="0" />
    <input name="user[remember_me]" class="custom-control-input" value="1"  name="user[remember_me]" id="user_remember_me" type="checkbox">
      <label class="custom-control-label"for="user_remember_me">
        <span>Remember me</span>
      </label>
    </div>
  <div class="text-center">
    <button type="submit" class="btn btn-bantu my-4">Sign In</button>
  </div>
<% end %>