<main class="profile-page">
  <section class="section-profile-cover section-shaped">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4" style="background: linear-gradient(150deg,#281483 15%,#8f6ed5 70%,#d782d9 94%);">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </section>
  
  <section class="section">
    <div class="container" id="profile">
      <%= render partial: 'profile' %>
    </div>
  </section>

</main>

                          


         



                            

                              
                             
                        
