<form class="formtastic project" id="edit_project_1" novalidate="novalidate" action="/projects/1" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="jYOz+hOwsDe1sztu/jZROtK4StTERoSMa8nvozdCsSRwFp8iiVhPyEGl4pKcPTbJweWT+VQ9vf9E2FCeAPHV2w==">
  <fieldset class="inputs"><ol>
    <li class="string input optional stringish" id="project_title_input"><label for="project_title" class="label">Title</label><input id="project_title" type="text" value="" name="project[title]">

</li>
    <li class="text input optional" id="project_project_desc_input"><label for="project_project_desc" class="label">Project desc</label><textarea rows="20" id="project_project_desc" name="project[project_desc]">11</textarea>

</li>
    <li class="text input optional" id="project_requirement_desc_input"><label for="project_requirement_desc" class="label">Requirement desc</label><textarea rows="20" id="project_requirement_desc" name="project[requirement_desc]">11</textarea>

</li>
    <li class="string input optional stringish" id="project_contact_person_1_input"><label for="project_contact_person_1" class="label">Contact person 1</label><input id="project_contact_person_1" type="text" value="11" name="project[contact_person_1]">

</li>
    <li class="string input optional stringish" id="project_contact_number_1_input"><label for="project_contact_number_1" class="label">Contact number 1</label><input id="project_contact_number_1" type="text" value="11" name="project[contact_number_1]">

</li>
    <li class="string input optional stringish" id="project_contact_person_2_input"><label for="project_contact_person_2" class="label">Contact person 2</label><input id="project_contact_person_2" type="text" value="11" name="project[contact_person_2]">

</li>
    <li class="string input optional stringish" id="project_contact_number_2_input"><label for="project_contact_number_2" class="label">Contact number 2</label><input id="project_contact_number_2" type="text" value="11" name="project[contact_number_2]">

</li>
    <li class="string input optional stringish" id="project_address_1_input"><label for="project_address_1" class="label">Address 1</label><input id="project_address_1" type="text" value="11" name="project[address_1]">

</li>
    <li class="string input optional stringish" id="project_address_2_input"><label for="project_address_2" class="label">Address 2</label><input id="project_address_2" type="text" value="11" name="project[address_2]">

</li>
    <li class="string input optional stringish" id="project_postcode_input"><label for="project_postcode" class="label">Postcode</label><input id="project_postcode" type="text" value="11" name="project[postcode]">

</li>
    <li class="string input optional stringish" id="project_city_input"><label for="project_city" class="label">City</label><input id="project_city" type="text" value="11" name="project[city]">

</li>
    <li class="string input optional stringish" id="project_state_input"><label for="project_state" class="label">State</label><input id="project_state" type="text" value="11" name="project[state]">

</li>
    <li class="string input optional stringish" id="project_image_input"><label for="project_image" class="label">Image</label><input id="project_image" type="text" value="11" name="project[image]">

</li>
    <li class="date_select input optional" id="project_start_date_input"><fieldset class="fragments"><legend class="label"><label for="project_start_date_1i">Start date</label></legend><ol class="fragments-group"><li class="fragment"><label for="project_start_date_1i">Year</label><select id="project_start_date_1i" name="project[start_date(1i)]">
<option value=""></option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
</select>
</li><li class="fragment"><label for="project_start_date_2i">Month</label><select id="project_start_date_2i" name="project[start_date(2i)]">
<option value=""></option>
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
</li><li class="fragment"><label for="project_start_date_3i">Day</label><select id="project_start_date_3i" name="project[start_date(3i)]">
<option value=""></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
</li></ol></fieldset>

</li>
    <li class="date_select input optional" id="project_end_date_input"><fieldset class="fragments"><legend class="label"><label for="project_end_date_1i">End date</label></legend><ol class="fragments-group"><li class="fragment"><label for="project_end_date_1i">Year</label><select id="project_end_date_1i" name="project[end_date(1i)]">
<option value=""></option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
<option value="2018">2018</option>
<option value="2019">2019</option>
<option value="2020">2020</option>
<option value="2021">2021</option>
<option value="2022">2022</option>
<option value="2023">2023</option>
</select>
</li><li class="fragment"><label for="project_end_date_2i">Month</label><select id="project_end_date_2i" name="project[end_date(2i)]">
<option value=""></option>
<option value="1">January</option>
<option value="2">February</option>
<option value="3">March</option>
<option value="4">April</option>
<option value="5">May</option>
<option value="6">June</option>
<option value="7">July</option>
<option value="8">August</option>
<option value="9">September</option>
<option value="10">October</option>
<option value="11">November</option>
<option value="12">December</option>
</select>
</li><li class="fragment"><label for="project_end_date_3i">Day</label><select id="project_end_date_3i" name="project[end_date(3i)]">
<option value=""></option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
</li></ol></fieldset>

</li>
    <li class="number input optional numeric stringish" id="project_volunteer_number_input"><label for="project_volunteer_number" class="label">Volunteer number</label><input id="project_volunteer_number" step="any" type="number" value="10" name="project[volunteer_number]">

</li>
    <li class="number input optional numeric stringish" id="project_fund_amount_input"><label for="project_fund_amount" class="label">Fund amount</label><input id="project_fund_amount" step="any" type="number" value="10000.0" name="project[fund_amount]">

</li>
    <li class="boolean input optional" id="project_volunteer_input"><input type="hidden" name="project[volunteer]" value="0"><label for="project_volunteer" class=""><input type="checkbox" name="project[volunteer]" id="project_volunteer" value="1" checked="checked">Volunteer</label>

</li>
    <li class="boolean input optional" id="project_finance_donate_input"><input type="hidden" name="project[finance_donate]" value="0"><label for="project_finance_donate" class=""><input type="checkbox" name="project[finance_donate]" id="project_finance_donate" value="1" checked="checked">Finance donate</label>

</li>
</ol></fieldset>
  <fieldset class="actions"><ol>
    <li class="action input_action " id="project_submit_action"><input type="submit" name="commit" value="Update Project" data-disable-with="Update Project"></li>
</ol></fieldset></form>